body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    background-color: #feffba;
}

.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.meetingSetup {
    width: 700px;
}

.mdt-dateTimePicker {
    margin-bottom: 10px;
}
